## AccelerateAI - Time Series Analysis and Forecasting

### Time Series Feature Engineering

In [3]:
import pandas as pd

from sktime.transformations.series.lag import Lag

In [4]:
from sktime.datasets import load_airline
X = load_airline()

In [5]:
X[0:5]

Period
1949-01    112.0
1949-02    118.0
1949-03    132.0
1949-04    129.0
1949-05    121.0
Freq: M, Name: Number of airline passengers, dtype: float64

In [6]:
t1 = Lag(1)
X_1 = t1.fit_transform(X)
X_1[0:5]

Period
1949-01      NaN
1949-02    112.0
1949-03    118.0
1949-04    132.0
1949-05    129.0
Freq: M, dtype: float64

In [7]:
t2 = Lag([2, 3, 4])
X_2 = t2.fit_transform(X)
X_2[0:5]

,lag_2__Number of airline passengers,lag_3__Number of airline passengers,lag_4__Number of airline passengers
Period,,,
1949-01,NaN,NaN,NaN
1949-02,NaN,NaN,NaN
1949-03,112.0,NaN,NaN
1949-04,118.0,112.0,NaN
1949-05,132.0,118.0,112.0

In [8]:
#Convert to dataframe
df = pd.DataFrame(X).rename(columns={'Number of airline passengers': 'passengers'})
df['Date'] = df.index

In [36]:
df.head()

         passengers     Date
Period
1949-01       112.0  1949-01
1949-02       118.0  1949-02
1949-03       132.0  1949-03
1949-04       129.0  1949-04
1949-05       121.0  1949-05

In [12]:
from tsfresh import extract_features

In [13]:
extracted_features = extract_features(df, column_id="Date")

Feature Extraction: 100%|██████████████████████████████████████████████████████████████| 18/18 [00:11<00:00,  1.51it/s]

In [14]:
extracted_features

,passengers__variance_larger_than_standard_deviation,passengers__has_duplicate_max,passengers__has_duplicate_min,passengers__has_duplicate,passengers__sum_values,passengers__abs_energy,passengers__mean_abs_change,passengers__mean_change,passengers__mean_second_derivative_central,passengers__median,...,passengers__permutation_entropy__dimension_6__tau_1,passengers__permutation_entropy__dimension_7__tau_1,passengers__query_similarity_count__query_None__threshold_0.0,"passengers__matrix_profile__feature_""min""__threshold_0.98","passengers__matrix_profile__feature_""max""__threshold_0.98","passengers__matrix_profile__feature_""mean""__threshold_0.98","passengers__matrix_profile__feature_""median""__threshold_0.98","passengers__matrix_profile__feature_""25""__threshold_0.98","passengers__matrix_profile__feature_""75""__threshold_0.98",passengers__mean_n_absolute_max__number_of_maxima_7
1949-01,0.0,0.0,0.0,0.0,112.0,12544.0,NaN,NaN,NaN,112.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1949-02,0.0,0.0,0.0,0.0,118.0,13924.0,NaN,NaN,NaN,118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1949-03,0.0,0.0,0.0,0.0,132.0,17424.0,NaN,NaN,NaN,132.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1949-04,0.0,0.0,0.0,0.0,129.0,16641.0,NaN,NaN,NaN,129.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1949-05,0.0,0.0,0.0,0.0,121.0,14641.0,NaN,NaN,NaN,121.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1960-08,0.0,0.0,0.0,0.0,606.0,367236.0,NaN,NaN,NaN,606.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-09,0.0,0.0,0.0,0.0,508.0,258064.0,NaN,NaN,NaN,508.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-10,0.0,0.0,0.0,0.0,461.0,212521.0,NaN,NaN,NaN,461.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-11,0.0,0.0,0.0,0.0,390.0,152100.0,NaN,NaN,NaN,390.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-12,0.0,0.0,0.0,0.0,432.0,186624.0,NaN,NaN,NaN,432.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN